[core]
	editor = \"C:\\Users\\Struan Judd\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	fsmonitor = true
	untrackedcache = true
	commitGraph = true
	longpaths = true
[alias]
	aliases = config --get-regexp alias
	edit = config --global --edit
	behind = !echo `git st` `git rev-list --count origin/$(git config init.defaultBranch)...HEAD --left-only`
	br = branch -vv
	bm = !git branch -f $(git config init.defaultBranch) origin/$(git config init.defaultBranch)
	ci = commit
	cl = clean -fdx
	co = checkout
	lg = log --graph
	lga = log --graph --all
	fo = fetch origin --prune --prune-tags --progress
	fom = !git fo $(git config init.defaultBranch):$(git config init.defaultBranch)
	rh = reset --hard
	rba = rebase --abort
	rbc = rebase --continue
	rbm = !git rebase $(git config init.defaultBranch)
	st = status -sbu
	sw = switch
	up = push origin
	uf = push --force-with-lease origin
[pretty]
	two = %C(auto)%h% cI% D%n    %C(cyan)%s
[format]
	pretty = two
[pull]
	rebase = false
[fetch]
	prune = true
	writeCommitGraph = true
[rebase]
	autoStash = true
[merge]
	autoStash = true
[branch]
	sort = -authordate
